<?php $templateURL = $this->basePath('/templates/default/'); //<?php echo $this->globwidget()->getfooter()<?php echo $this->globwidget()->getmenu();;?>
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>MUSIC ĐẠI VIỆT</title>
    <!--  Stylesheet  -->
    <link rel="stylesheet" href="<?php echo $templateURL;?>css/style.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $templateURL;?>css/artist.css" type="text/css">
    <link rel="stylesheet" href="<?php echo $templateURL;?>css/subject.css" type="text/css">
    <!-- JavaScript  -->
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jcarousellite_1.0.1.pack.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jquery.AdvanceHiddenDropbox.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/library/lazyload.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/common.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/sly.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/artist.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=vietnamese' rel='stylesheet' type='text/css' />
</head>
<body>
<!--  Header  -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <?php echo $this->globwidget()->getmenu()?>
</div>
<!--  Main  -->
<div id="content-artist" class="pad-top-255">
    <?php echo $this->content; ?>
</div>
<!--  Footer  -->
<div id="footer">
<?php echo $this->globwidget()->getfooter()?>
</div>
</body>
</html>
