<?php echo $this->render('layout/boxsearch'); ?>
<div class="container mar-top-25">
<!-- left parts -->
<div id="main-left">
    <!-- Chủ đề hot -->
    <div id="subject-list" class="common-box pad-top-bot-15 mar-bot-25">
        <div class="marleft">
            <span class="solhead">&nbsp;</span><span class="soltitle width-610">Chủ đề dành cho bạn</span>
        </div>
        <div class="subject-hot">
            <?php if(isset($data) && count($data)>0){?>
                <ul>
                    <?php foreach($data as $k=>$val){ ?>
                        <li>
                            <a class="thumbnail" title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>">
                                <?php
                                    $url = $this->serverUrl().$val['subject']['image_path'].$val['subject']['image_thumb'];
                                    if((is_file($url))&&(file_exists($url)))
                                        echo '<img src="'.$url.'" />';
                                    else
                                        echo '<img width="140px" height="105" src="'.$this->basePath('/templates/default/').'images/no-img.gif" />';
                                ?>
                            </a>
                            <h5>
                                <a title="<?php echo $this->escapeHtml($val['subject']['name']);?>" href="<?php echo $this->url('subdetail',array('slug'=>$val['subject']['slug'],'id'=>$val['subject']['id']))?>" class="item"><?php echo $this->escapeHtml($val['subject']['name']);?></a>
                            </h5>
                            <div class="info">
                                <p class="line-25">
                                    <span class="headphone"></span><?php echo $val['subject']['totallisten']; ?>  người đang nghe</p>
                                <p class="category">
                                    <?php echo $val['subject']['total']; ?> bài hát thuộc chủ để này</p>
                            </div>
                        </li>
                    <?php } ?>
                </ul>
            <?php } ?>
        </div>
        <div class="clear"></div>
        <div class="pad-top-25 text-center">
            <?php echo $this->paginationControl($this->paginator, 'Sliding', array('partial/subject_paginator.phtml', 'subject'), array('name' => 'subjectHot', 'controller' => 'Index', 'action' => 'index')); ?>
        </div>
    </div>
</div>
<div id="main-right">
<!-- right menu hot activities -->
<div class="common-box pad-left-10 mar-bot-25">
    <div class="right-title righttitle-text">
        Hoạt động nổi bật</div>
    <div class="pad-bot-15 ie-padtop">
        <div id="active-most">
            <ul>
                <li>
                    <div class="avatar">
                        <div class="ava1">
                            <div class="circle1 mar">
                                <div class="circle2">
                                </div>
                                <img src="http://file1.batdongsan.com.vn/crop90x90.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm</div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <div class="ava2">
                            <div class="circle1">
                                <div class="circle2">
                                </div>
                                <img src="http://file1.batdongsan.com.vn/crop90x90.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm</div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="avalist algin-center">
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="line">
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<!-- right menu hot lists -->
<div id="hotlist" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        Các list hot</div>
    <div class="pad-bot-15 tablist ie-padtop">
        <ul id="tabs" class="nav-tabs">
            <li class="active"><a href="#tab-album">Albums</a></li>
            <li><a href="#tab-song">Bài hát</a></li>
            <li><a href="#tab-video">Video</a></li>
        </ul>
    </div>
    <div class="hotlist">
        <ul>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>1</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>2</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>3</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>4</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- right menu recommendation for you -->
<div id="recordmend" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        Đề xuất cho bạn</div>
    <div class="pad-bot-15 ie-padtop">
        <div class="top">
            <img src="http://file1.batdongsan.com.vn/crop280x159.137286.choang-ngop-truoc-dinh-thu-nha-chong-tang-thanh-ha.jpg">
            <p>
                <a href="#" class="link-blue-bold">Bên em là biển rộng </a>- Lệ Quyên</p>
            <p>
                <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
            <p>
                <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
        </div>
        <div class="rec-list">
            <ul>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- upcoming events -->
<div id="upevent" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        sự kiện diễn ra</div>
    <div class="ie-padtop">
        <ul>
            <li>
                <div class="info-left">
                    <!--<img src="http://placehold.it/112x86" />-->
                    <img src="http://file1.batdongsan.com.vn/crop112x86.465496.lao-dong-thu-nhap-thap-kho-voi-toi-giac-mo-an-cu.jpg" />
                    <div class="calendar">
                        <span class="month">Tháng 9</span> <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>
                    <p>
                        <span class="location"></span>Phòng trả không tên</p>
                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info-left">
                    <img src="http://file1.batdongsan.com.vn/crop112x86.20140807110706193.cai-tao-can-ho-86m2-tran-ngap-cam-hung-sang-tao.jpg" />
                    <div class="calendar">
                        <span class="month">Tháng 9</span> <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>
                    <p>
                        <span class="location"></span>Phòng trả không tên</p>
                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear">
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="clear"></div>
</div>