/*=========Artist==========*/
#content-artist {
	background: url('../images/artist-header.png') no-repeat scroll center top transparent;
}
#artist-main {
	margin-top: 25px;
	border: 1px solid #BDD3DE;
	background: #ffffff;
}
#artist-main .artist-cover {
	height: 316px;
}
#artist-main .artist-cover img {
	margin: 1px 0px 0px 1px;
}
#artist-main .nav {
	margin: 0px 1px 0px 1px;
}
#artist-main .nav ul {
	background: #25A0EE;
	padding: 10px 20px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
#artist-main .nav ul li {
	display: inline;
	border-right: 1px solid #1289D9;
	box-shadow: inset 1px 0px #5AB9F3;
	padding: 13px 0px 12px 0px;
	margin: 0px -3px 0px 0px;
}
#artist-main .nav ul li:last-child{
	border-right: 0px;
}
#artist-main .nav ul li.last {
	border-right: 1px solid #25A0EE;
	box-shadow: inset 1px 0px #5AB9F3;
}
#artist-main .nav ul li a {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 11px 32px 12px 32px;
}
#artist-main .nav ul li a:hover {
	background: #0073C6;
}
#artist-main .nav ul li a.active {
	background: #0073C6;
}
#artist-main .artist-contents .artist-left {
	float: left;
	margin: 20px 10px 0px 10px;
	background: #F7F7F7;
	width: 190px;
}
#artist-main .artist-contents .artist-left ul li h3 {
	color: #0071C9;
	font-size: 14px;
	text-transform: uppercase;
	margin: 20px 0px 0px 35px;
}
#artist-main .artist-contents .artist-left ul li {
	padding: 0px 0px 20px 0px;
}
#artist-main .artist-contents .artist-left ul li a {
	font-size: 13px;
	padding: 5px 30px 5px 25px;
	margin: 0px 15px 0px 15px;
	color: #333534;
}
#artist-main .artist-contents .artist-left ul li a:hover {
	background: #a9e8ff;
	border-radius: 4px;
	font-weight: bold;
}
#artist-main .artist-contents .artist-left ul li a.active {
	font-weight: bold;
	color: #333534;
	background: #a9e8ff;
	border-radius: 4px;
}
#artist-main .artist-contents .artist-right {
	float: left;
	margin-left: 15px;
}
#artist-main .artist-contents .artist-right .artist-list .artist-avatar {
	float: left;
	margin-right: 20px;
	background-color: #03AFEF;
	border-radius: 50%;
	width: 86px;
	height: 86px;
	position: relative;
}
#artist-main .artist-contents .artist-right .artist-list{
	clear: both;
	padding-top: 25px;
	width: 750px;
	border-bottom: 1px solid #ECECEC;
	height: 112px;
}
#artist-main .artist-contents .artist-right .artist-list .artist-avatar .bordered-avatar1 {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	margin-left: 3px;
	margin-top: -1px;
	background-size: cover !important;
	background-position: center center;
}
#artist-main .artist-contents .artist-right .artist-list .artist-info {
	float: left;
	width: 640px;
}
#artist-main .artist-contents .artist-right .artist-list .artist-info h3 a {
	color: #0073C6;
	font-weight: bold;
	font-size: 14px;
	display: block;
	padding-bottom: 9px;
}
#artist-main .artist-contents .artist-right .artist-list .artist-info h3:hover {
	text-decoration: underline;
}
#artist-main .artist-contents .artist-right .artist-list .artist-info .desc{
	font-size: 13px;
	line-height: 1.5;
	color: #333;
}
#artist-next {
	clear: both;
	float: right;
	background: #DCF5FC;
	border: 1px solid #B8E6F5;
	border-radius: 4px;
	padding: 2px 10px 2px 10px;
	margin: 50px 0px 50px 0px;
}
#artist-next a {
	color: #1D89D2;
	background: url('../images/sprites.png') no-repeat scroll -232px -145px transparent;
	padding: 6px 20px 0px 11px;
}
#artist-next a:hover {
	opacity: 0.7;
}
#artist-previous {
	float: left;
	background: #DCF5FC;
	border: 1px solid #B8E6F5;
	border-radius: 4px;
	padding: 2px 10px 2px 10px;
	margin: 50px 0px 50px 0px;
}
#artist-previous a {
	color: #1D89D2;
}
#artist-previous a:hover {
	opacity: 0.7;
}
#artist-filter {
	margin-top: -200px;
}
#artist-filter .advance-select-box select {
	opacity: 1;
	width: 100%;
}
#artist-filter .advance-select-box select option {
	cursor: pointer;
	padding: 7px 5px;
}
#artist-filter .advance-select-box select option:hover {
	background: none repeat scroll 0px 0px #A9E8FF;
}
/* 3D shenanigans */
#sly-artist .frame {
	margin: 0 auto;
	width: 940px;
	height: 200px;
	line-height: 200px;
	overflow: hidden;
	text-shadow: none;
}
#sly-artist .frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
#sly-artist .frame ul li {
	float: left;
	width: 190px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #eee;
	color: #3a3c47;
	text-align: center;
	cursor: pointer;
}
#sly-artist .frame ul li.active {
	color: #fff;
	background: #82bf4c;
}
#sly-artist .frame {
	margin-top: 50px;
	height: 200px;
	line-height: 200px;
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
}
#sly-artist .frame ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#sly-artist .frame ul li {
	position: relative;
	margin: 0 -25px;
	border-radius: 50%;
	/*-webkit-transform: rotateY(60deg) scale(0.9);
	 -ms-transform: rotateY(60deg) scale(0.9);
	 transform: rotateY(60deg) scale(0.9);
	 -webkit-transition: -webkit-transform 300ms ease-out;
	 transition: transform 300ms ease-out;*/
}
#sly-artist .frame ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
#sly-artist .frame ul li.active ~
li {
	/*-webkit-transform: rotateY(-60deg) scale(0.9);
	 -ms-transform: rotateY(-60deg) scale(0.9);
	 transform: rotateY(-60deg) scale(0.9);*/
}
/*=========End Artist==========*/

/*=========Artist Detail==========*/
#artist-detail {
	border: 1px solid #BDD3DE;
	background: #ffffff;
	margin-top: -180px;
}
#artist-detail .artist-cover {
	position: relative;
	width: 971px;
	height: 301px;
	margin: 15px 0px 0px 14px;
	border: 1px solid #e4e4e4;
	background-repeat: no-repeat;
	background-size: cover;
}
#artist-detail .artist-cover .avatar {
	position: absolute;
	top: 150px;
	left: 55px;
}
#artist-detail .artist-cover .avatar .body-avatar {
	background: #ffffff;
	border-radius: 50%;
}
#artist-detail .artist-cover .avatar img {
	border-radius: 50%;
	margin: 3px 3px 3px 3px;
	width: 190px;
}
#artist-detail .artist-dt {
	margin-top: 50px;
}
#artist-detail .artist-dt .artist-dt-left {
	float: left;
	width: 265px;
	margin: 25px 0px 0px 30px;
}
#artist-detail .artist-dt .artist-dt-left .mr {
	margin-top: 10px;
}
#artist-detail .artist-dt .artist-dt-left .mr a {
	color: #0072c6;
}
#artist-detail .artist-dt .artist-dt-left .mr .pg-dow {
	background: url('../images/sprites.png') no-repeat scroll -320px -122px transparent;
	padding: 0px 0px 0px 10px;
}
#artist-detail .artist-dt .artist-dt-left .mr .pg-top {
	background: url('../images/sprites.png') no-repeat scroll -320px -131px transparent;
	padding: 0px 0px 0px 10px;
}
#artist-detail .artist-dt .artist-dt-left .ar-info {
	line-height: 20px;
	font-size: 13px;
}
#artist-detail .artist-dt .artist-dt-left .artist-profile.rows4 {
	height: 300px !important;
	overflow: hidden;
}
#artist-detail .artist-dt .artist-dt-left .artist-profile ul {
	margin-bottom: 20px;
}
#artist-detail .artist-dt .artist-dt-left .artist-profile ul li {
	padding: 7px 10px 7px 10px;
}
#artist-detail .artist-dt .artist-dt-left .artist-profile ul li.bg {
	background: #ddf2fc;
}
#artist-detail .artist-dt .artist-dt-left .artist-profile ul li strong {
	color: #0072C6;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt {
	margin-top: 30px;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-item {
	padding-bottom: 35px;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-avatar {
	float: left;
	margin-right: 10px;
	background-color: #03AFEF;
	border-radius: 50%;
	width: 90px;
	height: 86px;
	position: relative;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-avatar img {
	border-radius: 50%;
	left: 5px;
	position: absolute;
	width: 85px;
}

#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-info {
	float: left;
	width: 150px;
	margin-top: 20px;
	overflow: hidden;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-info .art-name {
	text-align: left;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-info .art-type-sig {
	text-align: left;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-info .art-type-sig a {
	color: #0072c6;
	font-size: 13px;
}
#artist-detail .artist-dt .artist-dt-left .artist-tt .artist-info .art-name a {
	color: #0072c6;
	font-size: 13px;
	font-weight: bold;
}
#artist-detail .artist-dt .artist-dt-right {
	float: left;
	margin: 10px 0px 0px 44px;
}
#artist-detail .nav-wp {
	position: relative;
}
#artist-detail .nav-wp .nav {
	position: absolute;
	right: 13px;
	top: 15px;
}
#artist-detail .nav ul {
	background: #24a0ef;
	padding: 9px 0px;
	border-radius: 3px;
	overflow: hidden;
}
#artist-detail .nav ul li {
	display: inline-block;
	margin-right: -4px;
}
#artist-detail .nav ul li a {
	color: #ffffff;
	font-weight: bold;
	padding: 10px 17px 11px 16px;
	font-size: 13px;
	-webkit-transition: 250ms ease-in-out;
	-moz-transition: 250ms ease-in-out;
	-o-transition: 250ms ease-in-out;
	-ms-transition: 250ms ease-in-out;
	transition: 250ms ease-in-out;
}
#artist-detail .nav ul li a:hover, #artist-detail .nav ul li a.active{
	background: #0072c6;
}
#artist-detail .artist-dt .artist-dt-right .list-profile {
	width: 640px;
	padding: 10px 10px 10px 0px;
}
#artist-detail .artist-dt .artist-dt-right .list-profile h4 {
	background: #ddf2fc;
	color: #0072c6;
	padding: 4px 12px;
	display: inline-block;
	font-size: 13px;
	margin-bottom: 5px;
}
#artist-detail .artist-dt .artist-dt-right .list-profile ul {
	margin-left: 18px;
}
#artist-detail .artist-dt .artist-dt-right .list-profile ul li {
	padding: 3px;
}
#artist-detail .artist-dt .artist-dt-right .list-profile .des {
	margin: 10px 0px 0px 18px;
}
/*=========End Artist Detail==========*/

/*=========Artist Soong==========*/
#artist-detail .soong-wp ul li {
	margin: 0px 0px 25px 0px;
	border-bottom: 1px solid #ececec;
}
#artist-detail .soong-wp .photo {
	width: 100px;
	height: 100px;
	background-color: #91DBF6;
	text-align: right;
	margin: 0px 40px 25px 0px;
	float: left;
}
#artist-detail .soong-wp .photo .img-responsive{
    width: 100px;
    height: 100px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10px;
}
#artist-detail .soong-wp .info {
	width: 645px;
}
#artist-detail .soong-wp .info .link-blue-bold {
	color: #0072C6;
	text-decoration: none;
	font-weight: bold;
}
#artist-detail .soong-wp .info .base-info-subject {
	float: left;
	width: 205px;
}
#artist-detail .soong-wp .info .point-info-subject p {
	float: left;
	margin-top: 15px;
	width: 100px;
	color: #333534;
	padding-top: 10px;
}
#artist-detail .soong-wp .info .base-info-subject p a, #artist-detail .soong-wp .info .base-info-subject {
	color: #333534
}
#artist-detail .soong-wp .info .base-info-subject .base-info-type {
	width: 500px;
}
#artist-detail .soong-wp .info .base-info-subject p {
	padding: 2px 0px 2px 0px;
}
/*=========End Artist Detail==========*/