/* reset.css */
html {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select {
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    padding: 0;
}

body {
    background: white;
    line-height: 18px;
}

table {
    border-collapse: collapse;
    border: 0px;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    float: none !important;
}

table, th, td {
    vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}

blockquote, q {
    quotes: "" "";
}
fieldset {
    border: 0 none;
    margin: 0;
    min-width: 0;
    padding: 0;
}

*:before, *:after {
    box-sizing: border-box;
}

ul li{list-style:none;}
img{border:0;}

/*end reset*/
.navbar {padding: 0; margin: 0;}
.navbar-fixed-top{
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
    -webkit-box-shadow:0 0 2px #000;
    -moz-box-shadow: 0 0 2px #000;
    box-shadow:0 0 2px #000;
    height:46px;
}
.navbar-inverse {
    background-color: #0072c6;
    border-color: #65787f;
}
.container{width: 1000px; margin: 0 auto;}
.navbar-left{width:200px; float: left;}
.navbar-right{float:right;}
.navbar-right ul li{float:left;}
.navbar-right .nav > li > a {
    color: white;
    font-weight: bold;
    padding: 0 20px;
    text-transform: uppercase;
    display: block;
    line-height:46px;
    font-size: 16px;
    font-family: 'Roboto';
}
.navbar-right .nav > li > a > img{vertical-align: middle;}
.navbar-right .nav > li > a:hover,.navbar-right .nav > li.active{background-color: #005593;}
.nav-line{display: inline-block; background: #0073c6 url('../images/sprites.png') -80px -183px no-repeat; width:5px;line-height:46px; margin:0 10px 0 5px;}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-success{background: #0073c6 url('../images/sprites.png') -191px -40px no-repeat; color: #fff; height:28px; width:75px; margin:10px 0 0 10px; font-size:12px;}
body{background: #fff url('../images/header-repeat.jpg') left top repeat-x;}
/*body *{color: #333534;}*/
#content{background: url('../images/top.png') center top no-repeat;}
.pad-top-255{padding-top:255px;}
.pad-top-70{padding-top:70px;}

.panel-search{width:770px; margin: 0px auto 90px;}
.tabs-search { list-style: none; line-height: 0; }
.tabs-search li { float:left; border-radius: 4px 4px 0 0;background-color: #0072c6;margin-right:5px;margin-bottom:-1px;}
.tabs-search li a { color: black; float: left; display: block; padding: 4px 10px; margin-left: -1px; position: relative; left: 1px; text-decoration: none; line-height: 32px;  font-size:16px; color: #fff; font-weight:bold; }
.tabs-search li a:hover { color: #0072c6;}
/*.tabs-search li:hover{background-color: #fff;margin-bottom:-1px; position:relative;}*/
.tabs-search li.active, .tabs-search li:hover {background-color: #fff; margin-bottom:-1px; position:relative;
box-shadow: 0 -3px 3px -3px #81acbf, 3px 0 3px -3px #81acbf, -3px 0 3px -3px #81acbf;-moz-box-shadow:  0 -3px 3px -3px #81acbf, 3px 0 3px -3px #81acbf, -3px 0 3px -3px #81acbf;-webkit-box-shadow: 0 -3px 3px -3px #81acbf, 3px 0 3px -3px #81acbf, -3px 0 3px -3px #81acbf; box-sizing:border-box;}
.tabs-search li.active a{color: #0072c6; }
.tab-content{clear:both;}
.tab-content .tab-pane {display: none;}
.tab-content .active{display:block;}
.tab-pane input{width:760px; border-radius:0 0 4px 4px; padding: 0 50px 0 10px; box-sizing: border-box; background: #fff url('../images/corner.png') center right no-repeat;font-size:14px;height:42px; line-height:42px; border-top:none;box-shadow:0px 0px 3px rgba(34, 25, 25, 0.4);}

.box-shadow{box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.4);/*border:1px solid #B7B7B7;*/}
.panel-search-hit{background: #b3e9ff url('../images/piano.png') repeat-x; width:1000px;  height:126px; padding:15px 0; box-sizing: border-box;}
.titlehead{background: url('../images/sprites.png') -107px 0 no-repeat;height:35px; margin-left: -10px; margin-bottom: 22px; }
.solhead{background: url('../images/sprites.png') -56px 0 no-repeat;line-height:35px; width:49px; display:inline-block;}
.soltitle{color: #0072c6; border-bottom: 1px solid #a4e4ff; line-height:30px; display: inline-block; margin-left: -3px; font-weight: bold; text-transform: uppercase; font-size:17px; padding-left:5px; font-family: Roboto;}
.pad-left-20{padding-left:20px;}
.title-search{color:#fff; text-transform:uppercase; font-size:16px; width:260px; line-height:30px; text-align:center; font-family: Roboto; }

.col-item-select {
    padding-left: 0;
    padding-right: 14px;
    float: left;
}

.btn-search{background: url('../images/sprites.png') -1px -41px no-repeat; color: #fff; height:35px; width:99px; font-weight: bold; padding-left:20px; }
.btn-search:hover{background: url('../images/sprites.png') -345px -41px no-repeat; color: #fff; height:35px; width:99px; font-weight: bold; padding-left:20px; }
.btn-search-ok{background: url('../images/sprites.png') -280px -40px no-repeat; color: #fff; height:26px; width:54px; font-weight: bold; text-align:center; border:none;}
.btn-search-ok:hover{background: url('../images/sprites.png') -456px -41px  no-repeat; color: #fff; height:26px; width:54px; font-weight: bold; text-align:center; border:none;}
.btn-join{background: url('../images/sprites.png') -103px -40px no-repeat; color: #fff; height:25px; width:76px; font-weight: bold; text-align:center; border:none; }
.btn-join:hover{background: url('../images/sprites.png') -519px -40px no-repeat; color: #fff !important; height:25px; width:76px; font-weight: bold; text-align:center; border:none; }

.item{display: inline-block;}
.clear{clear:both;}
.clear10{clear:both;height: 10px;}
.mar-top-25{margin-top:25px;}
.mar-bot-15{margin-bottom:15px;}
.mar-bot-25{margin-bottom:25px;}
.mar-top-5{margin-top:5px;}
.pad-top-bot-15{padding: 15px 0;}
.pad-top-15{padding:15px 0 0 0;}
.pad-right-5{padding-right:5px;}
.width-940{width:940px;}
.width-600{width:600px;}
.width-610{width:610px;}
.width-880{width:880px;}
.line-25{line-height:25px;}
.algin-left{text-align:left;}
.algin-center{text-align:center;}
.algin-right{text-align:right;}
.fright{float:right;}
.fleft{float:left;}
.pad-left-10{padding-left:10px;}
.pad-10{padding:0 10px;}
.pad10{padding: 10px;}
.pad-15{padding: 0 15px;}
.pad-25{padding: 25px;}
.pad-bot-15{ padding-bottom:15px;}
.green-text{color:#7fba00 !important;}
.font-13{font-size:13px;}
.font-14{font-size:14px;}
.bold{font-weight:bold;}
.marleft{margin-left: -5px;}

#main-subject{background: #fff; box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.4); }

.subject-content{padding: 0 30px;position: relative;}
.subject-slide {width:940px;}
.subject-slide ul li{list-style: none; display:inline-block; padding-right:12px; width: 225px; min-height:210px;}
.subject-slide ul li img{width: 225px; height: 125px;}
.subject-slide ul li a.item,.subject-hot ul li a.item{color: #333534; padding:8px 0; display:inline-block; border-bottom: 1px solid #e6e6e6;width:220px; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.subject-slide ul li a.item:hover, .info-right a:hover{color: #0072c6; }
.headphone{background: url('../images/sprites.png') 0 -120px no-repeat; width:17px; height:12px; display: inline-block;vertical-align: middle; }
.headphone-grey{background: url('../images/sprites.png') -120px -120px no-repeat; width:17px; height:12px; display: inline-block;vertical-align: middle; }
.title{background: url('../images/sprites.png') -23px -120px no-repeat; width:12px; height:9px; display: inline-block; }
.title-grey{background: url('../images/sprites.png') -143px -120px no-repeat; width:15px; height:9px; display: inline-block; }
.right-title{background: url('../images/sprites.png') -48px -79px no-repeat; width:177px; height:31px; display: inline-block; margin-top:-6px; margin-bottom:15px; }
#hotlist .right-title{width:125px;}
#recordmend .right-title{width:170px;}
.gender{background: url('../images/sprites.png') -39px -120px no-repeat; width:18px; height:16px; display: inline-block; vertical-align:middle;}
.people-3{background: url('../images/sprites.png') -63px -120px no-repeat; width:26px; height:13px; display: inline-block; }
.people-2{background: url('../images/sprites.png') -95px -120px no-repeat; width:23px; height:17px; display: inline-block; vertical-align: middle; }
.post{background: url('../images/sprites.png') -190px -120px no-repeat; width:18px; height:13px; display: inline-block; vertical-align: middle; }
.star{background: url('../images/sprites.png') -215px -120px no-repeat; width:18px; height:13px; display: inline-block; vertical-align: middle; }
.comment{background: url('../images/sprites.png') -240px -120px no-repeat; width:17px; height:15px; display: inline-block; vertical-align: middle; }
.location{background: url('../images/sprites.png') -175px -120px no-repeat; width:13px; height:15px; display: inline-block; vertical-align: middle; }

.btnprev{background: url('../images/sprites.png') -0 -81px no-repeat; width: 20px; height: 35px; position: absolute; left: 5px; top: 50px; cursor: pointer;}
.btnprev:hover{background: url('../images/sprites.png') -248px -73px no-repeat; width: 20px; height: 35px; position: absolute; left: 5px; top: 50px; cursor: pointer;}
.btnnext{background: url('../images/sprites.png') -24px -81px no-repeat; width: 20px; height: 35px;position: absolute; right: 5px; top: 50px; cursor: pointer;}
.btnnext:hover{background: url('../images/sprites.png') -272px -73px no-repeat; width: 20px; height: 35px;position: absolute; right: 5px; top: 50px; cursor: pointer;}

#main-left{width:670px; float:left; }
#main-right{width:310px; float:right;}
.common-box{background: none repeat scroll 0 0 #fff; box-shadow: 0px 0px 3px rgba(34, 25, 25, 0.4);}
#list-by-yourself{background:#fff url('../images/makelist.jpg') no-repeat; height:272px; box-sizing: border-box; position:relative;}
.field-left{width:350px; float:left;}
.field-left fieldset, .field-right fieldset{padding:10px 0 10px 15px;}
.field-left .access{width:305px;}
.input-text{border-radius:2px; border:1px solid #e2e2e2; width:305px;height:30px; line-height:30px; padding: 0 10px; box-sizing: border-box;}
.field-right .input-text{width:270px;}
.field-right .line-pad{line-height:35px;}
.link-blue-u{color: #0072c6; text-decoration:underline;}
.link-blue-bold-big{color: #0072c6; text-decoration:none; font-weight:bold;font-size:14px;}
.link-blue-bold{color: #0072c6; text-decoration:none; font-weight:bold;}
.link-blue-bold:hover{text-decoration:underline; }
.separate .otitle{color: #0072c6; font-size:12px;}
.separate {color: #0072c6; font-size:12px; position:absolute; left:330px;top:88px;}
.separate .line{border-right:1px solid #e2e2e2; width:12px; height:130px; margin-top:5px;}
.line{border-bottom: 1px solid #ececec;line-height:1px; height:1px; clear:both;}

#your-list ul li{list-style:none; line-height:22px; padding: 15px; border-bottom: 1px solid #ececec;}
#your-list ul li:last-child{border:none;}
#your-list .photo{width:94px; height:82px; background-color: #91dbf6;text-align:right;margin-right:35px; float:left;}
#your-list .photo image{width:84px; height:82px; }
#your-list ul li a:hover{text-decoration:underline;}
.base-info{float:left; width:260px;}
.point-info p, .point-info .point{width:120px; float:left;margin-top:15px;}
.mark-point{width:105px; float:left;}

.featured-song{width:260px; height: 345px;float:left; position:relative;}
.list-song{width:365px; float: right;}
.blur-title{background-color: #000; opacity:0.6;filter: alpha(opacity=60);position:absolute; left:0; bottom:0; padding:10px; width:260px;box-sizing: border-box; color:#fff;}
.blur-title *{color:#fff;}
.blur-title .caption a{ font-weight:bold; font-size:14px;}
.blur-title .caption {margin-bottom:8px;}
.list-song ul li{list-style:none; clear:both; line-height:20px;}
.list-song ul li a{font-weight:bold;text-decoration:none;}
.list-song ul li a:hover{color:#0072c6;}
.list-song ul li img{float:left; margin:0 10px 15px 0;}
.list-song .title{width:15px;}

#social-vote ul li.listsocial{list-style:none; padding: 15px; border-bottom: 1px solid #ececec; line-height:20px;}
#social-vote ul li.listsocial .photo{background-color:#03afef; border-radius:50%; behavior: url(css/PIE.htc);  width:86px; height:86px;position:relative; margin-right:20px; float:left; }
#social-vote ul li.listsocial img{position:absolute;border-radius:50%; behavior: url(css/PIE.htc);  left:5px;}
#social-vote ul li.listsocial .info{margin-left:15px;}
#social-vote ul li.listsocial .info a:hover, .article-title a:hover{text-decoration:underline;}
#social-vote ul li.listsocial .base-info{width:235px;}
#social-vote ul li.listsocial .point-info p, .point-info .point{width:95px; line-height:25px;}

#article ul li{list-style:none; clear:both;}
.featured-article{width:415px; float:left;}
.featured-article img{margin-bottom:15px;}
.sub-article{width:210px; float:right;}
.article-title a{color: #0072c6; font-weight:bold; font-size:17px;margin-bottom:15px;display:inline-block;}
.article-title p{text-align: justify;}
.sub-article img{margin-right:15px; float:left;margin-bottom:20px;}
.sub-article a:hover{color:#0072c6;}
.sub-article .first img{width:210px; height:118px;margin-right:0; float:none;margin-bottom:5px;}
.sub-article .first a{color:#0072c6; display:inline-block;}
.sub-article .first a:hover{text-decoration:underline;}
.sub-article .first{margin-bottom:20px;}

#hdcv{background: #fff url('../images/ghita.jpg') no-repeat top right;}
#hdcv ul li {list-style:none;display:inline-block; width:150px;}
#hdcv ul li .photo { background-color: #03afef; border-radius: 50%; behavior: url(css/PIE.htc);  height: 110px; position: relative; width: 110px; margin-bottom:5px;}
#hdcv ul li img { border-radius: 50%; behavior: url(css/PIE.htc);  left: 5px; position: absolute;}
#hdcv ul li a:hover{color:#0072c6;}

.righttitle-text {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-left: -3px;
    padding-left: 14px;
    text-transform: uppercase;
    font-family:Roboto;
}

#active-most ul li{list-style:none;display:inline-block; width:135px; margin-right: 10px; border:1px solid #a4e4ff;margin-top: 70px; line-height:25px;}
#active-most .ava1{background: url('../images/sprites.png') -0px -187px no-repeat; width:24px; height:52px;margin-left:5px;position: absolute; }
#active-most .ava2{background: url('../images/sprites.png') -30px -184px  no-repeat; width:41px; height:52px;position: absolute; }
#active-most .circle1{background-color: #efefef; width:100px; height:100px;border-radius: 50%; behavior: url(css/PIE.htc);   margin-top:11px; margin-left: 22px; position: relative;padding:5px;box-sizing: border-box; }
#active-most .circle2{
     width:0;
     height:0;
     border-right:50px solid #0072c6;
     border-top:50px solid transparent;
     border-left:50px solid #0072c6;
     border-bottom:50px solid #0072c6;
     border-radius: 50px;
     behavior: url(css/PIE.htc); 
     position:absolute;
     top:0;
     left:0;
     transform: rotate(25deg);
}
#active-most .mar{margin-left:11px;}
#active-most .avatar img{ border-radius: 50%; behavior: url(css/PIE.htc); width:90px; position:relative;}
#active-most .avatar {margin-left:-1px; margin-top:-58px; height:110px;}
#active-most .box{padding-left:5px; padding-bottom:8px;}

.avalist .item{width:140px; float:left; line-height:20px; margin:10px 0;}
.tablist ul li{list-style:none; display:inline-block;}
.nav-tabs {
    border-bottom: 3px solid #7fba00;
    font-size: 12px;
}
.nav-tabs > li > a {
    border-radius: 4px 4px 0 0;
    border: 1px solid #e6e6e6;
    border-bottom:none;
    margin-right: 2px;
    display: block;
    padding: 5px 10px;
    position: relative;
    background-color: #fff;    
    font-size: 15px;
}
.nav-tabs  > li.active > a {}
.nav-tabs  > li.active > a, .nav-tabs > li > a:hover {
    color: #fff;
    background-color: #7fba00;
    border:none;
}

.hotlist{padding-bottom:10px;}
.hotlist ul li{padding:15px 0; border-bottom:1px solid #ececec; line-height:20px;}
.hotlist ul li:last-child{border:none;}
.hotlist .info{width:160px; float:left;}
.hotlist .thumb{width:115px;height:65px; background-color: #90daf3; float:right;}
.hotlist .thumb img{float:right;vertical-align:middle;}
.hotlist .thumb span{color: #fff; font-weight:bold; float:left; font-size: 18px; font-weight: bold; padding-left: 9px; padding-top: 23px; }
#hotlist .right-title{background: url('../images/sprites.png') -105px -79px no-repeat; border-radius:4px; }
#recordmend .right-title{background: url('../images/sprites.png') -64px -79px no-repeat; border-radius:4px;}
#recordmend .top{width:280px; background-color: #ebfaff; padding-bottom: 15px; margin-bottom: 15px;}
#recordmend .top p{line-height:25px; padding-left:15px;}
#upevent .right-title{background: url("../images/sprites.png") -76px -79px no-repeat;width:150px;}
#upevent .info-right{width:150px;}
#upevent ul li{   border-bottom: 1px solid #ececec;padding: 0 0 15px 0; margin-bottom:15px;}
.rec-list img{float:left; width:80px; margin:0px 15px 0 0;}
.rec-list .item-list{margin: 10px 0 15px 0;}
.rec-list .item-list p{line-height:25px;}
.info-left{width:112px; height:86px; position:relative; float:left;margin:0px 15px 0 0;}
.info-right{float:right; width:210px;}
.info-right .btn-join{display:inline-block; line-height:25px;}
.info-right p{margin-bottom:5px;}
.calendar{width:44px; height:44px;position:absolute; bottom:0; left:0;}
.calendar span{display:block; color: #fff; text-align:center;}
.calendar .month{font-size:10px; background-color: #00b1ef;}
.calendar .day{font-size:17px; font-weight:bold; background-color: #3a3a3a; opacity:0.5; filter:alpha(opacity=50); line-height:26px;display:inline-block;width: 44px; }
#footer{
    background-color: #0073c6;
    border-top: 3px solid #005a99;
    color: white;
    min-height: 100px;
    padding: 25px 0;
}
.footer{width:1000px; margin:auto;}
.footer *{color:#fff;}
.footer .col{width:240px; float:left;margin-right:10px;}
.footer .ftitle{font-family:Roboto; font-size:16px; text-transform:uppercase;font-weight:bold;margin-bottom:10px;color: #fff;}
.col1 ul li:before, .col2 ul li:before {
    background: url('../images/sprites.png') -256px -113px no-repeat;
    width:15px;
    height:17px;
    display:block;
    content: " ";
    display:inline-block;
    margin-left: 10px;
}
.col1 ul,.col2 ul {margin-left:25px;}
.col1 ul li, .col2 ul li {
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 1px 17px;
    vertical-align: middle;
    line-height:25px;
}

/*.col ul li{background: url('../images/sprites.png') -256px -113px no-repeat; padding-left:25px;line-height:25px; margin-left:15px;}*/
col ul li{ padding-left:25px;line-height:25px; margin-left:15px;}
.col3 ul li{float:left;background:none; padding:0;margin-left:10px;}
.col3 .facebook{background: #0073c6 url('../images/sprites.png') -0 -144px no-repeat; width:32px; height:32px; display:inline-block;}
.col3 .twitter{background: url('../images/sprites.png') -40px -144px no-repeat; width:32px; height:32px; display:inline-block;}
.col3 .google{background: url('../images/sprites.png') -80px -144px no-repeat; width:32px; height:32px; display:inline-block;}
.col3 .youtube{background: url('../images/sprites.png') -120px -144px no-repeat; width:32px; height:32px; display:inline-block;}
.col3 .in{background: url('../images/sprites.png') -160px -144px no-repeat; width:32px; height:32px; display:inline-block;}
.col4{float:right; line-height:20px;}
.col4 p{margin-left:10px; font-size:12px;}
.advance-select-box {
}
.advance-select-box {
    height: 35px;
    line-height: 35px;
    position: relative;
    text-align: left;
    width: 200px !important;
    z-index: 10;
}
.advance-select-box select {
    height: 35px;
    line-height:35px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    width: 100%;
    z-index: 1;
}

.advance-select-box .v-drop
{
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    float: left;
    height: 35px;
    line-height:35px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: #fff url("../images/arrow.png") no-repeat right center;
    box-sizing: border-box;
    behavior: url(css/boxsizing.htc);
    font-size: 13px;
     padding-left: 14px;
}

.select-text {
    height: 25px;
    line-height: 25px;
    position: relative;
    text-align: left;
    width: 97px;
    z-index: 10;
}
.select-text select {
    height: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    width: 100%;
    z-index: 1;
}

.select-text .v-drop
{
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: #c6efff url("../images/arrow.png") no-repeat right center;
    box-sizing: border-box;
    font-size: 13px;
    padding-left: 5px;
}
.select-text2 .v-drop
{
    border: 1px solid #8cdffd;
    border-radius: 4px;
    background: #d0f2ff;
    padding:1px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset;
}
.select-text2 .s-drop {background: #a9e8ff url("../images/arrow.png") no-repeat right center; height: 25px;width: 100%;border-radius: 4px;display:inline-block;padding-left:5px; box-sizing: border-box;}
.line-30{line-height:30px;}
.pos-relative{position:relative;}
.paging{position:absolute; right:25px;top:0px;}
.paging span{line-height:17px; display:inline-block;}
.paging .prev{background: url('../images/sprites.png') -272px -120px no-repeat; width:17px; height:17px; border-right:none; border: 1px solid #d1d5da;}
.paging .next{background: url('../images/sprites.png') -295px -120px no-repeat; width:17px; height:17px;border: 1px solid #d1d5da; }
.paging .page{position:absolute; left: -25px;}
.paging .page{position:absolute; left: -25px;}




.advance-select-box {
    color: #000;
    height: 29px !important;
    line-height: 29px;
    position: relative;
    text-align: left;
    width: 200px !important;
    z-index: 10;
}
.comboboxs {
    margin: auto;
    padding-top: 5px;
    text-align: left;
    width: 200px;
}
span.select-text {
    height: 34px !important;
    display:inline-block;
}
span.select-text:hover{cursor:default;}
.advance-select-box span.select-text {
    background: #fff url("../images/arrow.png") no-repeat right center;
    border: 1px solid #ccc;
    bottom: 0;
    cursor: pointer;
    float: left;
    height: 34px;
    left: 0;
    line-height: 34px;
    overflow: hidden;    
    text-align: left;
    width: 100%;
    z-index: 1;
    border-radius:4px;
}

.advance-select-box .select-text span.select-text-content {
    cursor: default;
    float: left;
    height: 34px;
    line-height: 34px;
    padding: 0 5px;
    text-align: left;
    width: 100%;
}

.advance-select-box{position: relative;}
 .select-text-content {
    height: 27px;
    line-height: 27px ;
    width: 177px;
}

.advance-select-options {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: none;
    left: 0;    
    top: 0;
    z-index: 100;
}
.advance-select-options ul
{   max-height: 200px;    
    overflow: auto;    
    
}
.advance-select-options ul li:hover, .advance-select-options ul li.current {
    background: none repeat scroll 0 0 #a9e8ff;
}
.advance-select-options ul, .advance-select-options li {
    clear: both;
    list-style: none outside none;
}
.advance-select-options ul li {
    cursor: pointer;
    padding: 2px 5px;
}
.blue-select .select-text { border: 1px solid #8cdffd; border-radius: 4px; background: #d0f2ff; padding:1px; line-height: 25px; width: 95px;}

.blue-select .select-text-content {background: #a9e8ff url("../images/arrow.png") no-repeat right center; height: 25px; line-height:25px; width:95px; border-radius: 4px;display:inline-block;padding-left:5px; box-sizing: border-box; }

.blue-select .advance-select-options{ border: 1px solid #8cdffd; border-radius: 0 0 4px 4px; width:97px; border-top:none;}
 
.blue-select .advance-select-options ul li {background:#a9e8ff; border-bottom:1px solid #8cdffd; border-top:1px solid #b7ecfe;}

.blue-select .advance-select-options ul li:last-child{border-bottom:none;}

.blue-select .advance-select-options ul li:hover, .blue-select .advance-select-options ul li.current{ background: none repeat scroll 0 0 #dbf6ff; }

#list-by-yourself ul{ border: 1px solid #8cdffd; border-radius: 0 0 4px 4px; width:89px !important;box-sizing: border-box; margin-top:-1px; position:absolute; }
#list-by-yourself .select-text{border: 1px solid #ccc; border-radius:4px;height: 25px !important; }
#list-by-yourself .blue-select{width:97px;}

#social-vote .advance-select-options{position:absolute;}
#social-vote .select-text {box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset; line-height:27px !important; height:27px !important; }
#social-vote .select-text-content {line-height:27px; height:27px;}


