<div id="article" class="common-box pad-top-bot-15 mar-bot-25">
    <div class="mar-bot-15">
       <a href="<?php echo $this->url('Article_Category',['slug'=>$arr['category']['slug']]) ?>"> <span class="solhead">&nbsp;</span> <span class="soltitle width-600"><?php echo $arr['category']['category_name']?></span></a>
    </div>
    <div class="pad-15">
        <div class="featured-article">
            <a href="<?php echo $this->url('Article_Detail',['action'=>'detail','slug'=>$arr[0]['slug'],'identify'=>$arr[0]['identify']]) ;?>">
                <img src="<?php if($arr[0]['image_path'])echo $arr[0]['image_path'];else echo "http://placehold.it/415x312";?>">
            </a>

            <div class="article-title">
                <h3>
                    <a href="<?php echo $this->url('Article_Detail',['action'=>'detail','slug'=>$arr[0]['slug'],'identify'=>$arr[0]['identify']]) ;?>"><?php echo $arr[0]['title'];?></a></h3>

                <p>
                <?php echo $arr[0]['description'];?>

                </p>
            </div>
        </div>
        <div class="sub-article">
            <ul>
                <li class="first"><a href="<?php echo $this->url('Article_Detail',['action'=>'detail','slug'=>$arr[1]['slug'],'identify'=>$arr[1]['identify']]) ;?>">
                        <img src="<?php if($arr[1]['image_path'])echo $arr[1]['image_path'];else echo "http://placehold.it/205x118";?>" alt="..."/>
                    </a>
                    <h4>
                        <a href="<?php echo $this->url('Article_Detail',['action'=>'detail','slug'=>$arr[1]['slug'],'identify'=>$arr[1]['identify']]) ;?>" class="link"><?php echo $arr[1]['title'];?></a></h4>
                </li>
                <?php for($i=2;$i<5;$i++){?>
                <li><a href="<?php echo $this->url('Article_Detail',['action'=>'detail','slug'=>$arr[$i]['slug'],'identify'=>$arr[$i]['identify']]) ;?>">
                        <img src="<?php if($arr[$i]['image_path'])echo $arr[$i]['image_path'];else echo "http://placehold.it/64x64";?>" alt="..."/>
                    </a>
                    <h4>
                        <a href="<?php echo $this->url('Article_Detail',['action'=>'detail','slug'=>$arr[$i]['slug'],'identify'=>$arr[$i]['identify']]) ;?>" class="link"><?php echo $arr[$i]['title'];?></a></h4>
                </li>
                <?php }?>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
