<div class="left-bar">
	<?php foreach($project as $item) { ?>
		<a class="project-item <?php if($project_id && $project_id == $item['project_id']) echo 'active'; ?>" 
			href="<?php echo $this->url('project_detail', array('project_id'=>$item['project_id']))?> ">
			<?php echo $item['project_name']?>
		</a>
	<?php } ?>
</div>