<div id="search" class="nv-header">
    <div class="container">
        <div class="col-md-12 slide-home fullside">
            <div class="panel-default">
                <div class="panel-body">
                    <div class="panel-search">
                        <ul class="tabs-search">
                            <li class="active"><a href="#all">Tìm tất cả những gì bạn muốn</a></li>
                            <li><a href="#song">Tên bài hát, ca sỹ</a></li>
                            <li><a href="#subject">Chủ đề, list đặc biệt</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="all">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text placehold" type="text" placeholder="Hãy gõ vào đây bất kỳ điều gì bạn đang muốn về âm nhạc, ví dụ: Các bài hát giai điệu sôi động nhất ..."
                                           class="form-control" />
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="song">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text placehold" type="text" placeholder="Tên bài hát, Ca sỹ ..." class="form-control" />
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="subject">
                                <div class="input-group margin-bottom-sm ">
                                    <input class="input-text placehold" type="text" placeholder="Chủ đề, List đặc biệt ..." class="form-control" />
                                    <span class="input-group-addon search"><i class="fa fa fa-search fa-fw"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-search-hit box-shadow">
                <div class="titlehead">
                    <h2 class="title-search">
                        Tìm kiếm bảng xếp hạng</h2>
                </div>
                <div class="panel-body pad-left-20">
                    <!--<div class="col-md-12">
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn thể loại</option>
                                    <option>Nhạc trữ tình</option>
                                </select>
                                <span class="v-drop">Chọn thể loại</span>
                            </div>
                        </div>
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn quốc gia</option>
                                    <option>Việt Nam</option>
                                    <option>Hàn Quốc</option>
                                </select>
                                <span class="v-drop">Chọn quốc gia</span>
                            </div>
                        </div>
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn giai điệu</option>
                                    <option>Nhanh</option>
                                    <option>Chậm</option>
                                </select>
                                <span class="v-drop">Chọn giai điệu</span>
                            </div>
                        </div>
                        <div class="items col-item-select">
                            <div class="advance-select-box">
                                <select>
                                    <option>Chọn khác</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                                <span class="v-drop">Chọn khác</span>
                            </div>
                        </div>
                    </div>-->
                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divGender">
                                     <span class="select-text">
                                        <span class="select-text-content">Chọn thể loại</span>
                                    </span>
                            <input type="hidden" id="hdGender" value="0"/>
                            <div class="advance-select-options advance-options" id="divGenderOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn thể loại</li>
                                    <li class="advance-options">Nhạc POP</li>
                                    <li class="advance-options">Nhạc Rock</li>
                                    <li class="advance-options">Nhạc Jazz</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divCountry">
                                 <span class="select-text">
                                    <span class="select-text-content">Chọn quốc gia</span>
                                </span>
                            <input type="hidden" id="hdCountry" value="0"/>
                            <div class="advance-select-options advance-options" id="divCountryOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn quốc gia</li>
                                    <li class="advance-options">Việt Nam</li>
                                    <li class="advance-options">Hàn Quốc</li>
                                    <li class="advance-options">Nhật Bản</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divMelody">
                                 <span class="select-text">
                                    <span class="select-text-content">Chọn giai điệu</span>
                                </span>
                            <input type="hidden" id="hdMelody" value="0"/>
                            <div class="advance-select-options advance-options" id="divMelodyOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn giai điệu</li>
                                    <li class="advance-options">Nhanh</li>
                                    <li class="advance-options">Chậm</li>
                                    <li class="advance-options">Vừa phải</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items col-item-select">
                        <div class="advance-select-box" id="divOther">
                                 <span class="select-text">
                                    <span class="select-text-content">Chọn khác</span>
                                </span>
                            <input type="hidden" id="hdOther" value="0"/>
                            <div class="advance-select-options advance-options" id="divOtherOptions">
                                <ul class="advance-options">
                                    <li class="advance-options">Chọn khác</li>
                                    <li class="advance-options">1</li>
                                    <li class="advance-options">2</li>
                                    <li class="advance-options">3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="items">
                        <div class="input-group p0">
                            <button type="submit" class="btn btn-search">
                                <span class="fa fa fa-search fa-fw"></span>Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main-subject" class="container mar-top-25 pad-top-bot-15 ">
    <!--Chủ đề hot-->
    <div class="mar-bot-15 marleft">
        <span class="solhead">&nbsp;</span> <span class="soltitle width-940">Chủ đề hot</span>
    </div>
    <div class="subject-content">
        <div class="btnprev">
        </div>
        <div class="subject-slide">
               <?php echo $this->subjectHot; ?>
        </div>
        <div class="btnnext"></div>
    </div>
    <div class="clear"> </div>

</div>
<div class="container mar-top-25">
<!-- left parts -->
<div id="main-left">
<!-- Tu tao danh sach-->
<div id="list-by-yourself" class="common-box pad-top-bot-15 mar-bot-25">
    <div class="mar-bot-15 marleft">
        <span class="solhead">&nbsp;</span> <span class="soltitle ">Tự tạo danh sách bài hát
                        hay nhất cho bạn và bạn bè</span>
    </div>
    <div class="panel-body">
        <div class="field-left">
            <fieldset>
                <h5 class="mar-bot-15 font-14">
                    Nhập thông tin</h5>
                <div class="mar-bot-15">
                    <input class="input-text placehold" placeholder="Tên bài hát, vd : Chiếc khăn gió ấm" name="song_name"
                           type="text" autofocus="" />
                </div>
                <div class="mar-bot-15">
                    <input class="input-text placehold" placeholder="Tên ca sĩ, vd : Khánh Phương" name="singer_name"
                           type="text" value="">
                </div>
                <div class="mar-bot-15 access">
                    <div class="fleft">
                        <div class="blue-select" id="divPointSelf1">
                                        <span class="select-text">
                                            <span class="select-text-content select-point">Chấm điểm</span>
                                        </span>
                            <input type="hidden" id="hdPointSelf1" value="0"/>
                            <div class="advance-select-options advance-options" id="divPointSelfOptions1" >
                                <ul class="advance-options">
                                    <li vl="0" class="advance-options current">Chấm điểm</li>
                                    <li class="advance-options">1</li>
                                    <li class="advance-options">2</li>
                                    <li class="advance-options">3</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <a href="#" class="link-blue-u pad-left-10 line-30 fleft">Thêm thông tin khác</a>
                    <div class="fright">
                        <button class="btn-search-ok" type="submit">
                            OK</button></div>
                    <div class="clear"></div>
                </div>
            </fieldset>
        </div>
        <div class="separate">
            <div class="otitle">
                Hoặc</div>
            <div class="line">
            </div>
        </div>
        <div class="field-right">
            <fieldset>
                <h5 class="mar-bot-15 font-14">
                    Dán URL</h5>
                <div class="mar-bot-15">
                    <input class="input-text placehold" placeholder="Có thể dán link bài hát tại đây" name="song_name"
                           type="text" autofocus="" />
                </div>
                <div class="mar-bot-15">
                    <div class="fleft">
                        <div class="blue-select" id="divPointSelf2">
                                        <span class="select-text">
                                            <span class="select-text-content select-point">Chấm điểm</span>
                                        </span>
                            <input type="hidden" id="hdPointSelf2" value="0"/>
                            <div class="advance-select-options advance-options" id="divPointSelfOptions2">
                                <ul class="advance-options">
                                    <li vl="0" class="advance-options current">Chấm điểm</li>
                                    <li class="advance-options">1</li>
                                    <li class="advance-options">2</li>
                                    <li class="advance-options">3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="link-blue-u pad-left-10 line-30 fleft">Thêm thông tin khác</a>
                    <div class="clear"></div>
                </div>
                <div class="mar-bot-15">
                    <button class="btn-search-ok" type="submit">
                        OK</button>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<!-- Danh sach bai hat cua ban -->
<div id="your-list" class="common-box pad-top-bot-15 mar-bot-25">
    <div class="marleft">
        <span class="solhead">&nbsp;</span><span class="soltitle width-600">Danh sách bài hát
                        của bạn và bạn bè</span>
    </div>
    <div>
        <ul>
            <li>
                <div class="photo">
                    <img alt="a" class="img-responsive" src="http://file1.batdongsan.com.vn/crop82x82.296027.lam-dep-nha-theo-phong-cach-tac-ke-hoa.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a href="#" class="link-blue-bold">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="photo">
                    <img alt="a" class="img-responsive" src="http://file1.batdongsan.com.vn/crop82x82.296027.lam-dep-nha-theo-phong-cach-tac-ke-hoa.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a href="#" class="link-blue-bold">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="photo">
                    <img alt="a" class="img-responsive" src="http://file1.batdongsan.com.vn/crop82x82.296027.lam-dep-nha-theo-phong-cach-tac-ke-hoa.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a href="#" class="link-blue-bold">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="photo">
                    <img alt="a" class="img-responsive" src="http://file1.batdongsan.com.vn/crop82x82.296027.lam-dep-nha-theo-phong-cach-tac-ke-hoa.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a href="#" class="link-blue-bold">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="photo">
                    <img alt="a" class="img-responsive" src="http://file1.batdongsan.com.vn/crop82x82.296027.lam-dep-nha-theo-phong-cach-tac-ke-hoa.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a href="#" class="link-blue-bold">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="photo">
                    <img alt="a" class="img-responsive" src="http://file1.batdongsan.com.vn/crop82x82.296027.lam-dep-nha-theo-phong-cach-tac-ke-hoa.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a href="#" class="link-blue-bold">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear">
    </div>
</div>
<!-- Danh sach dac biet -->
<div id="special-list" class="common-box pad-top-15 mar-bot-25">
    <div class="mar-bot-15 pos-relative marleft">
        <span class="solhead">&nbsp;</span> <span class="soltitle width-600">List đặc biệt</span>
        <div class="paging">
            <span class="page">1/5</span> <span class="prev"></span><span class="next"></span>
        </div>
    </div>
    <div class="pad-15">
        <div class="featured-song">
            <a href="#">
                <!--<img alt="" src="http://placehold.it/260x345" />-->
                <img src="http://file1.batdongsan.com.vn/crop260x345.465496.lao-dong-thu-nhap-thap-kho-voi-toi-giac-mo-an-cu.jpg" />
            </a>
            <div class="blur-title">
                <h4 class="caption">
                    <a href="#">Chùm ảnh: Các cặp đôi tình tứ đón gió lạnh đầu mùa</a>
                </h4>
                <div>
                    <span class="headphone-grey"></span><span class="green-text">58</span> người đang
                    nghe</div>
                <div>
                    <span class="title-grey"></span><span class="green-text">6</span> bài thuộc chủ
                    đề này</div>
            </div>
        </div>
        <div class="list-song">
            <ul>
                <li><a href="#">
                        <img alt="..." src="http://file1.batdongsan.com.vn/crop140x105.329644.36m-don-gian-xinh-xan-tien-nghi.jpg">
                    </a>
                    <div class="info-right">
                        <h4>
                            <a href="#" class="font-13">Các bài hát nghe khi tâm trạng buồn</a></h4>
                        <div class="mar-top-5">
                            <span class="headphone"></span>58 người đang nghe</div>
                        <div>
                            <span class="title"></span>6 bài thuộc chủ đề này</div>
                    </div>
                </li>
                <li><a href="#">
                        <img alt="..." src="http://file1.batdongsan.com.vn/crop140x105.329644.36m-don-gian-xinh-xan-tien-nghi.jpg">
                    </a>
                    <div class="info-right">
                        <h4>
                            <a href="#" class="font-13">Các bài hát nghe khi tâm trạng vui</a></h4>
                        <div class="mar-top-5">
                            <span class="headphone"></span>58 người đang nghe</div>
                        <div>
                            <span class="title"></span>6 bài thuộc chủ đề này</div>
                    </div>
                </li>
                <li><a href="#">
                        <img alt="..." src="http://file1.batdongsan.com.vn/crop140x105.329644.36m-don-gian-xinh-xan-tien-nghi.jpg">
                    </a>
                    <div class="info-right">
                        <h4>
                            <a href="#" class="font-13">Các bài hát nghe khi tâm trạng đang yêu</a></h4>
                        <div class="mar-top-5">
                            <span class="headphone"></span>58 người đang nghe</div>
                        <div>
                            <span class="title"></span>6 bài thuộc chủ đề này</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
<!-- Danh sach cong dong -->
<div id="social-vote" class="common-box pad-top-15 mar-bot-25">
    <div class="marleft">
        <span class="solhead">&nbsp;</span> <span class="soltitle width-600">Các bài hát hay
                        nhất do cộng đồng bình chọn</span>
    </div>
    <div>
        <ul>
            <li class="listsocial">
                <div class="photo">
                    <img alt="" class="img-responsive" src="http://file1.batdongsan.com.vn/crop86x86.20130708013142633.lam-dep-nha-voi-cam-hung-de-thuong-tu-thuc-pham.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a class="link-blue-bold" href="#">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="blue-select point" id="divPoint1">
                            <!--<select>
                                <option>Chấm điểm</option>
                                <option>1</option>
                            </select>
                            <span class="v-drop"><span class="s-drop">Chấm điểm</span></span>-->
                                        <span class="select-text">
                                            <span class="select-text-content select-point">Chấm điểm</span>
                                        </span>
                            <input type="hidden" id="hdPoint1" value="0"/>
                            <div class="advance-select-options advance-options" id="divPointOptions1">
                                <ul class="advance-options" style="min-width: 200px;">
                                    <li vl="0" class="advance-options current select-point">Chấm điểm</li>
                                    <li class="advance-options">1</li>
                                    <li class="advance-options">2</li>
                                    <li class="advance-options">3</li>
                                </ul>
                            </div>
                        </div>

                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
            <li class="listsocial">
                <div class="photo">
                    <img alt="" class="img-responsive" src="http://file1.batdongsan.com.vn/crop86x86.20130708013142633.lam-dep-nha-voi-cam-hung-de-thuong-tu-thuc-pham.jpg">
                </div>
                <div class="info">
                    <h3>
                        <a class="link-blue-bold" href="#">Walking in the sun</a></h3>
                    <div class="base-info">
                        <p>
                            Trần Mạnh Tuấn | nhạc trẻ</p>
                        <p>
                            <span class="title"></span>Đêm qua em mơ thấy ngừoi ấy</p>
                        <p>
                            <span class="headphone"></span>1.500 <span class="pad-left-10"></span><span class="gender">
                                        </span>Nhanh nhất
                        </p>
                    </div>
                    <div class="point-info">
                        <p>
                            <span class="people-3"></span>9.5 điểm
                        </p>
                        <p>
                            <span class="people-2"></span>9.5 điểm
                        </p>
                        <div class="blue-select point" id="divPoint2">
                                        <span class="select-text">
                                            <span class="select-text-content select-point">Chấm điểm</span>
                                        </span>
                            <input type="hidden" id="hdPoint2" value="0"/>
                            <div class="advance-select-options advance-options" id="divPointOptions2">
                                <ul class="advance-options" style="min-width: 200px;">
                                    <li vl="0" class="advance-options current">Chấm điểm</li>
                                    <li class="advance-options">1</li>
                                    <li class="advance-options">2</li>
                                    <li class="advance-options">3</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Tin tuc -->
<!--
<div id="article" class="common-box pad-top-bot-15 mar-bot-25">
    <div class="mar-bot-15 marleft">
        <span class="solhead">&nbsp;</span> <span class="soltitle width-600">Tin tức</span>
    </div>
    <div class="pad-15">
        <div class="featured-article">
            <a href="#">
                <img src="http://file1.batdongsan.com.vn/crop415x312.274167.3-chieu-tro-cho-nha-nho.jpg">
            </a>
            <div class="article-title">
                <h3>
                    <a href="#">Bùi Anh Tuấn trở lại ngoạn mục với 'Bài hát yêu thích'</a></h3>
                <p>
                    Hôm qua, thời tiết Hà Nội bước vào ngày đầu tiên trở lạnh. Những cơn gió cuối thu
                    đổ về Thủ đô mang lại bầu không khí se lạnh, tạo cảm giác thích thú và hưng phấn
                    cho mọi người. Có mặt tại khu vực bờ hồ Hoàn Kiếm vào tối qua, chúng tôi đã ghi
                    lại được những hình ảnh ấm áp, tình tứ của các cặp đôi đang yêu.
                </p>
            </div>
        </div>
        <div class="sub-article">
            <ul>
                <li class="first"><a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop205x118.283473.dung-mau-xanh-bien-tao-diem-nhan-hut-mat-cho-khong-gian-song.jpg" alt="..." />
                    </a>
                    <h4>
                        <a href="" class="link">Free CSS Compressor and CSS Compression Tool</a></h4>
                </li>
                <li><a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop64x64.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" alt="..." />
                    </a>
                    <h4>
                        <a href="" class="link">Free CSS Compressor and CSS Compression Tool</a></h4>
                </li>
                <li><a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop64x64.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" alt="..." />
                    </a>
                    <h4>
                        <a href="" class="link">Free CSS Compressor and CSS Compression Tool</a></h4>
                </li>
                <li><a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop64x64.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" alt="..." />
                    </a>
                    <h4>
                        <a href="" class="link">Free CSS Compressor and CSS Compression Tool</a></h4>
                </li>
            </ul>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
-->
<?php echo $this->HomeNews();?>
</div>
<div id="main-right">
<!-- right menu hot activities -->
<div class="common-box pad-left-10 mar-bot-25">
    <div class="right-title righttitle-text">
        Hoạt động nổi bật</div>
    <div class="pad-bot-15 ie-padtop">
        <div id="active-most">
            <ul>
                <li>
                    <div class="avatar">
                        <div class="ava1">
                            <div class="circle1 mar">
                                <div class="circle2">
                                </div>
                                <img src="http://file1.batdongsan.com.vn/crop90x90.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm</div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <div class="ava2">
                            <div class="circle1">
                                <div class="circle2">
                                </div>
                                <img src="http://file1.batdongsan.com.vn/crop90x90.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm</div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="avalist algin-center">
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="line">
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<!-- right menu hot lists -->
<div id="hotlist" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        Các list hot</div>
    <div class="pad-bot-15 tablist ie-padtop">
        <ul id="tabs" class="nav-tabs">
            <li class="active"><a href="#tab-album">Albums</a></li>
            <li><a href="#tab-song">Bài hát</a></li>
            <li><a href="#tab-video">Video</a></li>
        </ul>
    </div>
    <div class="hotlist">
        <ul>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>1</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>2</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>3</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>4</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- right menu recommendation for you -->
<div id="recordmend" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        Đề xuất cho bạn</div>
    <div class="pad-bot-15 ie-padtop">
        <div class="top">
            <img src="http://file1.batdongsan.com.vn/crop280x159.137286.choang-ngop-truoc-dinh-thu-nha-chong-tang-thanh-ha.jpg">
            <p>
                <a href="#" class="link-blue-bold">Bên em là biển rộng </a>- Lệ Quyên</p>
            <p>
                <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
            <p>
                <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
        </div>
        <div class="rec-list">
            <ul>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- upcoming events -->
<div id="upevent" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        sự kiện diễn ra</div>
    <div class="ie-padtop">
        <ul>
            <li>
                <div class="info-left">
                    <!--<img src="http://placehold.it/112x86" />-->
                    <img src="http://file1.batdongsan.com.vn/crop112x86.465496.lao-dong-thu-nhap-thap-kho-voi-toi-giac-mo-an-cu.jpg" />
                    <div class="calendar">
                        <span class="month">Tháng 9</span> <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>
                    <p>
                        <span class="location"></span>Phòng trả không tên</p>
                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info-left">
                    <img src="http://file1.batdongsan.com.vn/crop112x86.20140807110706193.cai-tao-can-ho-86m2-tran-ngap-cam-hung-sang-tao.jpg" />
                    <div class="calendar">
                        <span class="month">Tháng 9</span> <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>
                    <p>
                        <span class="location"></span>Phòng trả không tên</p>
                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear">
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="clear">
</div>
<div id="hdcv" class="common-box pad-top-15 mar-bot-25">
    <!-- Hoi dong co van -->
    <div class="marleft">
        <span class="solhead">&nbsp;</span><span class="soltitle width-880">Hội đồng cố vấn</span>
    </div>
    <div class="pad-25">
        <ul>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop110x110.427194.chiem-nguong-biet-thu-sieu-sang-co-gia-thue-1-3-ty-dong-dem.jpg" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop110x110.427194.chiem-nguong-biet-thu-sieu-sang-co-gia-thue-1-3-ty-dong-dem.jpg" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop110x110.427194.chiem-nguong-biet-thu-sieu-sang-co-gia-thue-1-3-ty-dong-dem.jpg" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop110x110.427194.chiem-nguong-biet-thu-sieu-sang-co-gia-thue-1-3-ty-dong-dem.jpg" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop110x110.427194.chiem-nguong-biet-thu-sieu-sang-co-gia-thue-1-3-ty-dong-dem.jpg" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="http://file1.batdongsan.com.vn/crop110x110.427194.chiem-nguong-biet-thu-sieu-sang-co-gia-thue-1-3-ty-dong-dem.jpg" alt=""></a></div>
                <h5>
                    <a href="">Nhạc sỹ Dương Cầm</a></h5>
            </li>
        </ul>
        <div class="clear">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div class="clear"></div>
</div>