body{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
}
.top-bar{
	width: 100%;
	height: 48px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 25;
	background: #0094da;
}
.top-bar .logo{
	color: white;
	font-size: 20px;
	margin-left: 12px;
}
.content{
	padding-top: 48px;
	position: relative;
}
.content .left-bar{
	position: fixed;
	top: 48px;
	bottom: 0px;
	left: 0px;
	width: 200px;
	overflow: auto;
	border-right: 1px solid #DDD;
}
.content .left-bar .project-item{
	text-decoration: none;
	height: 36px;
	width: 100%;
	padding-left: 7px;
	display: block;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 36px;
	color: #333;
}
.content .left-bar .project-item:hover, .content .left-bar .project-item.active{
	background: #FAFAFA;
}
.right-menu{
	position: fixed;
	top: 48px;
	left: 201px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}
.submit{
	background: rgb(28, 195, 126);
	display: inline-block;
	padding: 12px 36px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}