<?php
	$form = $this -> artist_filter;
	$form->setAttribute('action', $this->url('Artist', array(
	)));

	$form->prepare();
	echo $this->form()->openTag($form);
?>
<div id="artist-filter" class="container">
    <div class="panel-search-hit box-shadow" >
        <div class="titlehead">
            <h2 class="title-search">Công cụ tìm kiếm nghệ sĩ</h2>
        </div>
        <div class="panel-body pad-left-20">
            <div class="col-md-12">
                <div class="items col-item-select">
                    <div class="advance-select-box">
                        <?php echo $this->formElement($form->get('category_slug'));?>
                    </div>
                </div>
                <div class="items col-item-select">
                    <div class="advance-select-box">
                        <?php echo $this->formElement($form->get('country_slug'));?>
                    </div>
                </div>
                <div class="items col-item-select">
                    <div class="advance-select-box">
                        <?php echo $this->formElement($form->get('symphony'));?>
                    </div>
                </div>
                <div class="items col-item-select">
                    <div class="advance-select-box">
                        <?php echo $this->formElement($form->get('other_filter'));?>
                    </div>
                </div>
            </div>
            <div class="items">
                <div class="input-group p0">
                    <?php echo $this->formElement($form->get('search'));?>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<?php
	echo $this -> form() -> closeTag();
?>

