</br><div>Video cung Chuyen Muc</div>
<table>
    <tbody>
        <?php  if(is_array($videoRelated))foreach($videoRelated as $value) {  ?>

            <tr>
                <td>
                    <a href="<?php echo $this->url('Video',array('action'=>'video','slug'=>$value['slug'],'identify'=>$value['identify']))?>"class="title-normal" title="<?php echo $this->escapeHtml($value['title']);?>"><?php echo $this->escapeHtml($value['title']);?>
                    </a> 
                </td>
            </tr>
        <?php } else echo 'khong co bai hat cung chuyen muc';?>
    </tbody>
</table>