<?php echo $this->menu;?>
<div class="clearfix"></div>
<?php var_dump($itemDetail);?>


<div data-toggle="buttons">
					<label class="btn btn-primary btn-sm no-margin" title="Listen">
						<input type="radio" id="option1" name="options">
						<i class="fa fa-headphones mg-r-xs"></i>189                                </label>
					<label class="btn btn-success btn-sm" title="View">
						<input type="radio" id="option2" name="options">
						<i class="fa fa-eye mg-r-xs"></i>190                                </label>

					<label data-id="<?php echo $itemDetail['identify'];?>" class="btn btn-white btn-sm " title="Điểm cộng đồng"><i class="fa fa-star text-info mg-r-xs"></i><span class="text-muted">0</span></label>
					<label data-id="<?php echo $itemDetail['identify'];?>" class="btn btn-white btn-sm " title="Điểm bạn bè"><i class="fa fa-star text-primary mg-r-xs"></i><span class="text-muted">
							0                                    </span></label>
														<label class="btn btn-white btn-sm" title="Add to Playlist">
							<a class="showAddToPlaylist" title="Add to Playlist" data-identify="<?php echo $itemDetail['identify'];?>" data="arrivederci-chiara-civello">
								<i class="fa fa-plus"></i>
							</a>
						</label>
													<label class="btn btn-white btn-sm" title="Download">
						<input type="radio" id="option2" name="options">
						<i class="fa fa-arrow-circle-down"></i>
					</label>
				  <label id="embed-hidden" class="btn btn-white btn-sm" title="Mã nhúng"> <input type="radio" id="option2" name="options"> <i class="fa fa-code mg-r-xs"></i></label>
					<label class="btn btn-danger btn-sm" title="Warning">
						<input type="radio" id="option2" name="options">
						<i class="fa fa fa-warning"></i>
					</label>
													<label class="btn btn-primary btn-sm no-margin addtopics" title="Chủ đề">
					   Thêm chủ đề
					</label>
																					<label id="empathy" class="btn btn-success btn-sm empathy" music-identify="<?php echo $itemDetail['identify'];?>">
						Đồng cảm
					</label>
						
					<div class="btn-group show-on-hover btnVote">
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="fa fa-thumbs-up"></i>Vote            </button>
<ul role="menu" class="dropdown-menu voteUl" data="arrivederci-chiara-civello$bai-hat$Arrivederci - Chiara Civello">
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="10">
				<i class="fa fa-star toggle-active"></i> Tuyệt vời                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="9">
				<i class="fa fa-star toggle-active"></i> Rất hay                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="8">
				<i class="fa fa-star toggle-active"></i> Hay                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="7">
				<i class="fa fa-star toggle-active"></i> Khá hay                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="6">
				<i class="fa fa-star toggle-active"></i> Tạm được                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="5">
				<i class="fa fa-star toggle-active"></i> Bình thường                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="4">
				<i class="fa fa-star toggle-active"></i> Khá dở                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="3">
				<i class="fa fa-star toggle-active"></i> Dở                        </a>
		</li>
						<li>
			<a href="javascript:void(0);" class="user-processVote" data-identify="<?php echo $itemDetail['identify'];?>" data-votecode="2">
				<i class="fa fa-star toggle-active"></i> Rất dở                        </a>
		</li>
				</ul>
</div>                              <div style="padding-top:7px; width:70px;" class="pull-right">
				  </div>
				  <div class='test'></div>
				</div>

<?php echo $this->musicrelated;?>
<?php echo $this->videorelated;?>
<?php echo $this->albumrelated;?>
<?php echo $this->music_artist_related;?>
<?php echo $this->video_artist_related;?>