<?php echo $this->render('layout/boxsearch'); ?>
<div class="container mar-top-25">
<!-- left parts -->
<div id="main-left" >
    <!-- Danh sach cong dong -->
    <div id="your-list" class="common-box pad-top-15 mar-bot-25">
        <div class="marleft">
            <span class="solhead">&nbsp;</span> <span class="soltitle width-600">Chủ đề: <?php if (isset($detailInfo)) {echo $detailInfo->name;} ?></span>
        </div>
        <div id="subject-content">
            <div class="subject-detail">
                <div class="photo-detail">
                    <?php
                        $url = $this->serverUrl().$detailInfo->image_path.$detailInfo->image_thumb;
                        if((is_file($url))&&(file_exists($url)))
                            echo '<img title="'.$detailInfo->name.'" width="216" height="217" class="img-responsive" src="'.$url.'" />';
                        else
                            echo '<img width="216" title="'.$detailInfo->name.'" height="217" class="img-responsive" src="'.$this->basePath('/templates/default/').'images/no-img.gif" />';
                    ?>
                </div>
                <div class="sub-description">
                    <p>
                        <?php echo isset($detailInfo->description) ? $this->escapeHtml($detailInfo->description):'Chưa có mô tả cho chủ đề này'; ?>
                    </p>
                </div>
                <div class="select-option-group point-info" id="social-vote">
                    <div id="orderOption" class="fleft blue-select pad-left-10">
                        <span class="select-text">
                            <span class="select-text-content" style="width: 70px;">Sắp xếp</span>
                        </span>
                        <input type="hidden" value="0" id="hdPoint1">
                        <div id="divPointOptions1" class="advance-select-options advance-options" style="">
                            <ul style="min-width: 95px;" class="advance-options">
                                <li class="advance-options current" vl="1" style="min-width: 63px;">Sắp xếp</li>
                                <li class="advance-options" style="min-width: 63px;">1</li>
                                <li class="advance-options" style="min-width: 63px;">2</li>
                                <li class="advance-options" style="min-width: 63px;">3</li>
                            </ul>
                        </div>
                    </div>
                    <div id="listenAll" class="fleft blue-select pad-left-10">
                        <span class="select-text">
                            <span class="select-text-content" style="width: 85px;">Nghe tất cả</span>
                        </span>
                        <input type="hidden" value="0" id="hdPoint2">
                        <div id="divPointOptions2" class="advance-select-options advance-options" style="">
                            <ul style="min-width: 95px;" class="advance-options">
                                <li class="advance-options current" vl="2" style="min-width: 63px;">Nghe tất cả</li>
                                <li class="advance-options" style="min-width: 63px;">1</li>
                                <li class="advance-options" style="min-width: 63px;">2</li>
                                <li class="advance-options" style="min-width: 63px;">3</li>
                            </ul>
                        </div>
                    </div>
                    <div id="listenOption" class="fleft blue-select pad-left-10">
                        <span class="select-text">
                            <span class="select-text-content" style="width: 105px">Nghe tùy chọn</span>
                        </span>
                        <input type="hidden" value="0" id="hdPoint3">
                        <div id="divPointOptions3" class="advance-select-options advance-options" style="">
                            <ul style="min-width: 95px;" class="advance-options">
                                <li class="advance-options current" vl="3" style="min-width: 63px;">Nghe tùy chọn</li>
                                <li class="advance-options" style="min-width: 63px;">1</li>
                                <li class="advance-options" style="min-width: 63px;">2</li>
                                <li class="advance-options" style="min-width: 63px;">3</li>
                            </ul>
                        </div>
                    </div>
                    <div id="saveList" class="fleft blue-select pad-left-10">
                        <span class="select-text">
                            <span class="select-text-content" style="width: 106px;">Lưu danh sách</span>
                        </span>
                        <input type="hidden" value="0" id="hdPoint4">
                        <div id="divPointOptions4" class="advance-select-options advance-options" style="">
                            <ul style="min-width: 95px;" class="advance-options">
                                <li class="advance-options current" vl="4" style="min-width: 63px;">Lưu danh sách</li>
                                <li class="advance-options" style="min-width: 63px;">1</li>
                                <li class="advance-options" style="min-width: 63px;">2</li>
                                <li class="advance-options" style="min-width: 63px;">3</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <?php if (isset($arrMusic) && count($arrMusic) > 0){ ?>
                <ul>
                    <?php  {foreach ($arrMusic as $k => $val) {?>
                        <li>
                            <div class="photo">
                                <a title="<?php echo $val['title_music'] ?>" href="<?php echo $this->url('song', array('action' => 'view', 'slug' => $val['slug'])) ?>">
                                    <?php
                                        $url = $this->serverUrl().$val['thumnail_source'].$val['thumnail'];
                                        if((is_file($url))&&(file_exists($url)))
                                            echo '<img src="'.$url.'" />';
                                        else
                                            echo '<img width="82" height="82" src="'.$this->basePath('/templates/default/').'images/no-img.gif" />';
                                    ?>
                                </a>
                            </div>
                            <div class="info">
                                <h3>
                                    <a class="link-blue-bold" title="<?php echo $val['title_music'] ?>" href="<?php echo $this->url('song', array('action' => 'view', 'slug' => $val['slug'])) ?>"><?php echo $val['title_music'] ?></a></h3>
                                <div class="base-info-subject">
                                    <p><?php echo $val['artist_name'] . ' | ' . $val['cat_name'] ?> </p>
                                    <p>
                                        <span class="title"></span><?php echo $detailInfo->name ?></p>
                                    <p>
                                        <span class="headphone"></span><?php echo $val['hitcount'] ?> <span class="pad-left-10"></span><span class="gender">
                                            </span>Nhanh nhất
                                    </p>
                                </div>
                                <div class="point-info-subject">
                                    <p title="Điểm cộng đồng">
                                        <span class="people-3"></span><?php echo $val['score_common'] ?> điểm
                                    </p>
                                    <p title="Điểm bạn bè">
                                        <span class="people-2"></span><?php echo $val['score_friends'] ?> điểm
                                    </p>
                                    <p>
                                        <a href="#" title="download"><span class="download"></span></a>
                                        <a href="#" title="Nghe nhạc"><span class="listen"></span></a>
                                        <a href="#" title="Chia sẻ"><span class="share"></span></a>
                                    </p>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    <?php } } ?>
                </ul>
                <div class="clear"></div>
                <?php if($allRecord > $itemsPerPage){ ?>
                        <div class="pad-top-25 pad-bot-15 text-right">
                                <span class="pad-10 bg-view-more active">
                                    <a class="view-more" title="Xem tiếp" href="<?php echo $this->url('moredetail',array('slug'=>$detailInfo->slug))?>"><span> Xem tiếp</span></a>
                                </span>
                        </div>
                <?php } ?>
            <?php } ?>
<!--     Chủ đề liên quan       -->
            <div id="subject-related">
                <div class="content-related">
                    <span class="soltitle width-640">Chủ đề liên quan</span>
                    <div class="subject-content-related">
                        <div class="btnprev">
                        </div>
                        <div class="subject-slide-related">
                            <?php echo $this->subjectRelated; ?>
                        </div>
                        <div class="btnnext"></div>
                    </div>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
        <!--    Commnet chu de-->
        <div id="subject-comment" class="pad-14">
            <div class="song-detail">
                <div class="mar-bot-15">
                    <h2 class="title_line mar-bot-15">Bình luận</h2>
                    <div>
                        <div class="text-blue roboto14b mar-bot-15">Viết bình luận</div>
                        <div class="boxcomment">
                            <span class="uparrow"></span>
                            <img alt="" src="http://placehold.it/50x50">
                            <div class="commentbox">
                                <textarea cols="10" rows="10" placeholder="Hãy chia sẻ cảm nghĩ của bạn về bài hát này"></textarea>
                                <button type="submit" class="btn btn-comment">Gửi bình luận</button>
                            </div>
                        </div>
                        <div class="roboto14b ncomment">71 bình luận</div>
                        <div class="friend-comment">
                            <div class="title_line2">Bình luận của bạn bè</div>
                            <ul>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                            </ul>
                        </div>

                        <div class="most-comment">
                            <div class="title_line2">Bình luận nhiều nhất</div>
                            <ul>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                            </ul>
                        </div>

                        <div class="friend-comment">
                            <div class="title_line2">Bình luận mới nhất</div>
                            <ul>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                                <li>
                                    <div class="col1"><img alt="" src="http://placehold.it/50x50"></div>
                                    <div class="col2">
                                        <div class="text-blue">Manh Nguyen - 6 giờ trước</div>
                                        <div>chị Thùy Chi hát hay quá! bài nào của chị cũng nhẹ nhàng, sâu lắng, dễ đi vào lòng người.</div>
                                    </div>
                                    <div class="col3 text-blue">3 <span class="thich"></span></div>
                                    <div class="col4"><button type="submit" class="btn btn-reply">Trả lời</button></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main-right">
<!-- right menu hot activities -->
<div class="common-box pad-left-10 mar-bot-25">
    <div class="right-title righttitle-text">
        Hoạt động nổi bật</div>
    <div class="pad-bot-15 ie-padtop">
        <div id="active-most">
            <ul>
                <li>
                    <div class="avatar">
                        <div class="ava1">
                            <div class="circle1 mar">
                                <div class="circle2">
                                </div>
                                <img src="http://file1.batdongsan.com.vn/crop90x90.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm</div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="avatar">
                        <div class="ava2">
                            <div class="circle1">
                                <div class="circle2">
                                </div>
                                <img src="http://file1.batdongsan.com.vn/crop90x90.313745.cho-ngoi-nha-ngap-tran-sac-thu.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div>
                            <div class="algin-center">
                                <a href="#" class="link-blue-bold">yeutinhmatuot255</a></div>
                            <div class="green-text algin-center bold">
                                <span class="font-13">12.576</span> điểm</div>
                            <div>
                                <span class="post">&nbsp;</span>Đóng góp <span class="green-text">16</span> bài
                            </div>
                            <div>
                                <span class="star">&nbsp;</span>Chấm điểm <span class="green-text">123</span> bài
                            </div>
                            <div>
                                <span class="comment">&nbsp;</span>Bình luận <span class="green-text">8</span> bài
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="avalist algin-center">
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="line">
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="item">
                <div>
                    <a href="#" class="link-blue-bold">thien thanh</a>
                </div>
                <div>
                    <img src="http://file1.batdongsan.com.vn/crop50x50.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg">
                </div>
                <div>
                    Chuyên gia chấm điểm
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<!-- right menu hot lists -->
<div id="hotlist" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        Các list hot</div>
    <div class="pad-bot-15 tablist ie-padtop">
        <ul id="tabs" class="nav-tabs">
            <li class="active"><a href="#tab-album">Albums</a></li>
            <li><a href="#tab-song">Bài hát</a></li>
            <li><a href="#tab-video">Video</a></li>
        </ul>
    </div>
    <div class="hotlist">
        <ul>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>1</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>2</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>3</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info">
                    <div>
                        <a href="#" class="link-blue-bold">Mãi trao anh tình yêu</a></div>
                    <div>
                        Phạm Hồng phúc</div>
                    <div>
                        <span class="headphone">&nbsp;</span>65.679</div>
                </div>
                <div class="thumb">
                    <div>
                        <span>4</span></div>
                    <div>
                        <img src="http://file1.batdongsan.com.vn/crop87x65.20140531012058692.trang-tri-nha-doc-dao-voi-cay-khong-khi.jpg" /></div>
                </div>
                <div class="clear">
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- right menu recommendation for you -->
<div id="recordmend" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        Đề xuất cho bạn</div>
    <div class="pad-bot-15 ie-padtop">
        <div class="top">
            <img src="http://file1.batdongsan.com.vn/crop280x159.137286.choang-ngop-truoc-dinh-thu-nha-chong-tang-thanh-ha.jpg">
            <p>
                <a href="#" class="link-blue-bold">Bên em là biển rộng </a>- Lệ Quyên</p>
            <p>
                <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
            <p>
                <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
        </div>
        <div class="rec-list">
            <ul>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
                <li>
                    <p>
                        <a href="#" class="link-blue-bold">Bài thánh ca buồn</a> - Đ.V.Hưng - Mỹ Tâm</p>
                    <div class="item-list">
                        <img src="http://file1.batdongsan.com.vn/crop70x70.20140815073858446.nhung-can-ho-tien-ty-cua-cac-chang-ca-si-doc-than.jpg" />
                        <p>
                            <span class="star pad-right-5">&nbsp;</span><span class="green-text">9.5 Điểm</span></p>
                        <p>
                            <span class="gender pad-right-5">&nbsp;</span>Bình thường</p>
                        <p class="clear">
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- upcoming events -->
<div id="upevent" class="common-box pad-15 mar-bot-25">
    <div class="right-title righttitle-text">
        sự kiện diễn ra</div>
    <div class="ie-padtop">
        <ul>
            <li>
                <div class="info-left">
                    <!--<img src="http://placehold.it/112x86" />-->
                    <img src="http://file1.batdongsan.com.vn/crop112x86.465496.lao-dong-thu-nhap-thap-kho-voi-toi-giac-mo-an-cu.jpg" />
                    <div class="calendar">
                        <span class="month">Tháng 9</span> <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>
                    <p>
                        <span class="location"></span>Phòng trả không tên</p>
                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear">
                </div>
            </li>
            <li>
                <div class="info-left">
                    <img src="http://file1.batdongsan.com.vn/crop112x86.20140807110706193.cai-tao-can-ho-86m2-tran-ngap-cam-hung-sang-tao.jpg" />
                    <div class="calendar">
                        <span class="month">Tháng 9</span> <span class="day">17</span>
                    </div>
                </div>
                <div class="info-right">
                    <p>
                        <a href="#" class="link-blue-bold">Sự kiện "nhạc đồng quê" Mỹ Tâm</a></p>
                    <p>
                        <span class="location"></span>Phòng trả không tên</p>
                    <div>
                        <a class="btn-join" href="#">Tham gia</a></div>
                </div>
                <div class="clear">
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<div class="clear"></div>
</div>