﻿<?php
	use DVGroup\Common\CommonLibs;
	echo $this->artist_filter;
    $filter = new Zend\Filter\StripTags();
    use Artist\Source\ArtistCommon;
?>
<div class="clearfix"></div>
<div id="artist-main" class="container">
    <!--danh sách nghệ sỹ-->
    <div id="sly-artist" class="artist-cover">
        <div class="frame">
            <ul class="slidee">
                <li>0</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li class="active">10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
            </ul>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li><a class="<?php if($country_slug == NULL) echo "active" ?>" href="<?php echo $this->url('Artist',array());?>">Tất cả</a></li>
            <?php foreach($countries as $country){ ?>
                <li><a class="<?php if($country_slug == $country['country_en']) echo "active" ?>" href="<?php echo $this->url('Artist',array('country_slug'=> $country['country_en']));?>" title="<?php echo $country->country_name?>"><?php echo $country['country_name']?></a></li>
            <?php } ?>
        </ul>
    </div>
    <div class="artist-contents">
        <div class="artist-left">
            <ul>
                <li><h3>Việt nam</h3></li>
                <li><a href="">Rap việt</a></li>
                <li><a href="">Nhạc không lời</a></li>
                <li><a href="">Nhạc Dance</a></li>
                <li><a href="">Nhạc trẻ</a></li>
                <li><a href="">Nhạc cách mạng</a></li>
                <li><a href="">Cải lương</a></li>
                <li><a class="active" href="">Nhạc trữ tình</a></li>
                <li><a href="">Nhạc quê hương</a></li>
                <li><a href="">Nhạc trịnh</a></li>
                <li><a href="">Rock việt</a></li>
                <li><a href="">Nhạc thiếu nhi</a></li>
                <li><a href="">Nhạc phim</a></li>
            </ul>
        </div>
        <div class="artist-right">
            <?php foreach ($artist as $artist_item){
                $slug=str_replace(' ','-',$artist_item['name_search']);?>
                <div class="artist-list">
                    <div class="artist-avatar">
                        <a href="<?php echo $this->url('ArtistDetail',array('action'=>'artist','name'=>$slug));?>">
                            <?php $url = ArtistCommon::getUrlImageArtist($artist_item['ac_avatar'], $slug); ?>
                            <div class="bordered-avatar1" style="background-image: url(<?php echo $url?>)"></div>
                        </a>
                    </div>
                    <div class="artist-info">
                        <h3><a title="<?php echo $artist_item['name'];?>" href="<?php echo $this->url('ArtistDetail',array('action'=>'artist','name'=>$slug));?>"><?php echo $artist_item['name'];?></a></h3>
                        <div class="desc">
                            <?php echo $filter->filter(CommonLibs::shortern_word($artist_item['ac_artist_about'], 225) . '...');?>
                        </div>
                    </div>
                </div>
            <?php }?>
            <?php if($is_next >= 0){ ?>
                <div id="artist-next">
                    <a href="<?php echo $this->url('Artist', array('page'=>$is_next + 1, 'country_slug'=>$country_slug, 'category_slug'=>$category_slug)); ?>">Xem tiếp</a>
                </div>
            <?php } ?>
            <?php if($is_back >= 0){ ?>
                <div id="artist-previous">
                    <a href="<?php echo $this->url('Artist', array('page'=>$is_back, 'country_slug'=>$country_slug, 'category_slug'=>$category_slug)); ?>">Trang trước</a>
                </div>
            <?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <!--end danh sách nghệ sỹ-->
    <div class="clear"></div>
</div>
