<?php foreach($arr as $value)
{?>
    <li class=""><a href="<?php  echo $this->url('Article_All',array('action'=>'index','slug'=>$value['slug']));?>"><i class="fa"></i><span><?php echo $value['category_name'];?></span></a></li>
<?php }
?>