<?php
	use Artist\Source\ArtistCommon;
?>
<div class="artist-cover" style="background-image: url('<?php echo ArtistCommon::getUrlImageArtist($artist['artist_banner'], $artist['name_search'], 'poster') ?>');">
	<div class="avatar">
		<div class="body-avatar">
			<img src="<?php echo ArtistCommon::getUrlImageArtist($artist['avatar'], $artist['name_search']) ?>" />
		</div>
	</div>
</div>
<div class="nav-wp">
    <div class="nav">
        <ul>
            <li><a class="<?php if($slug == 'profile') echo "active"; ?>" href="<?php echo $this->url('ArtistDetail', array('name'=>$artist['name_search'])) ?>">Profile</a></li>
            <li><a class="<?php if($slug == 'song') echo "active"; ?>" href="<?php echo $this->url('ArtistDetail/song', array('name'=>$artist['name_search']))?>">Bài hát</a></li>
            <li><a class="<?php if($slug == 'album') echo "active"; ?>"href="<?php echo $this->url('ArtistDetail/album', array('name'=>$artist['name_search']))?>">Album</a></li>
            <li><a class="<?php if($slug == 'view') echo "active"; ?>" href="">Video</a></li>
            <li><a class="<?php if($slug == 'news') echo "active"; ?>" href="">Tin tức</a></li>
            <li><a class="<?php if($slug == 'event') echo "active"; ?> "href="">Sự kiện</a></li>
            <li><a class="<?php if($slug == 'image') echo "active"; ?> "href="">Hình ảnh</a></li>
            <li><a class="<?php if($slug == 'fanmade') echo "active"; ?>" href="">Góc fanmade</a></li>
        </ul>
    </div>
</div>