<?php $templateURL = $this->basePath('/templates/default/'); ?>
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>MUSIC ĐẠI VIỆT</title>
    <!--  Stylesheet  -->
    <link rel="stylesheet" href="<?php echo $templateURL;?>css/style.css" type="text/css">
    <!-- JavaScript  -->
    <script type="text/javascript" src="<?php echo $templateURL;?>js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="<?php echo $templateURL;?>js/app.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=vietnamese' rel='stylesheet' type='text/css' />
</head>
<body>
<!--  Header  -->
<div class="top-bar">
	<h1 class="logo"><span style="color: rgb(120, 255, 132);">DVGIT</span>:Project management</h1>
</div>
<!--  Main  -->
<div class="content">
    <?php echo $this->content; ?>
</div>
<!--  Footer  -->
<div id="footer">
</div>
</body>
</html>
