<?php echo $this->left_menu; ?>
<div class="right-menu">
	<div class="submit" onclick="deploy(<?php echo $project['project_id']?>)">Deploy</div>
</div>

<script>
	function deploy(projectId){
		$.ajax({

		})
	}
</script>