<div class="left-bar">
	<?php foreach($project as $item) { ?>
		<a class="project-item" href="<?php echo $this->url('project_detail', array('project_id'=>$item['project_id']))?> "><?php echo $item['project_name']?></a>
	<?php } ?>
</div>