<?php
	use Artist\Source\ArtistCommon;
?>

<div id="artist-detail" class="container">
    <?php echo $this->profile; ?>
    <div class="artist-dt">
    	<div class="artist-dt-left">
        	<?php  echo $this->left_profile ?>
        	<div class="common-box pad-left-10 mar-bot-25 artist-tt">
		        <?php  echo $this -> artist_related; ?>
		    </div>
        </div>
        <div class="artist-dt-right">
        	 <?php if(isset($artist)){?>
            <div class="list-profile">
                <h4>Tiểu sử</h4>
                <ul>
                    <li>Tên thật: <?php echo $artist['name'] ?></li>
                    <li>Ngày sinh: <?php echo $artist['birth'] ?></li>
                    <li>Thể loại: Việt Nam, Nhạc Trữ Tình</li>
                    <li>Quốc Gia: <?php echo $artist['country'] ?></li>
                    <li>Profile: <?php echo $artist['name_search'] ?></li>
                </ul>
            </div>
            <div class="list-profile">
                <h4>Thông tin chi tiết</h4>
                <div class="des">
                    <?php echo $artist['artist_about'] ?>
                </div>
            </div>
            <?php }?>
            <div class="list-profile">
                <h4>Album</h4>
                <ul>
                	<?php foreach($playlist as $item){ ?>
                    <li>- <?php echo $item['title'] ?></li>
                    <?php } ?>
                </ul>
            </div>
            <div class="list-profile">
                <h4>Bài hát</h4>
                <ul>
                    <?php foreach ($music as $music_item) { ?>
                        <li>- <?php echo $music_item['title']?></li>
                    <?php }?>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--end chi tiết nghệ sỹ-->
    <div class="clear"></div>
</div>