<?php
	use Artist\Source\ArtistCommon;
?>

<div id="artist-detail" class="container">
    <?php echo $this->profile; ?>
    <div class="artist-dt">
    	<div class="artist-dt-left">
        	<?php  echo $this->left_profile ?>
        	<div class="common-box pad-left-10 mar-bot-25 artist-tt">
		        <?php  echo $this -> artist_related; ?>
		    </div>
        </div>
        <div class="artist-dt-right">
        	<div class="soong-wp">
                <ul>
                	<?php foreach($album as $item){ ?>
                	<div>
                       <img src="<?php echo ArtistCommon::getAlbumImage($item['thumnail'], $item['slug']) ?>" />
						<p><?php echo $item['title']; ?></p>
						<p><?php echo number_format($item['view'], 0, '.', '.') ?>lượt nghe</p> 
						<p><?php echo count(get_object_vars(json_decode($item['list']))); ?>bài hát</p>
						<p>12 comment</p>
						<p>12 like</p> 
						
						<p>Mieu ta: <?php echo $item['mieuta']?></p> 
					</div>
					<?php } ?>
                </ul>
            </div>
			<?php if($is_next >=0 ){ ?>
                <div id="artist-next">
				    <a href="<?php echo $this->url('ArtistDetail/album', array('name'=>$artist['name_search'],'page'=>$is_next)); ?>">Xem tiếp</a>
                </div>
			<?php } ?>
			<?php if($is_prev >= 0){ ?>
                <div id="artist-previous">
				    <a href="<?php echo $this->url('ArtistDetail/album', array('name'=>$artist['name_search'], 'page'=>$is_prev))?>">Trang trước</a>
	                </div>
			<?php } ?>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>